<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zykj.yixiu">
<!--百度地图 开始-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--百度地图 结束-->
    <!--GalleryFinal图片选择器 开始-->
    <uses-permission android:name="WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!--GalleryFinal图片选择器 结束-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".app.MyApp"
        >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="czMX2RYthKYpBjKSxwwwyApWPnEqIZBS" />
        <activity android:name=".main_activity.Activity_Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
       <activity android:name=".main_activity.Maintain"></activity>
        <activity android:name=".main_activity.PersonalCenter"></activity>
        <activity android:name=".main_activity.AttendantCall"></activity>
    </application>


</manifest>
